*{
	box-sizing: border-box;
	margin: 0;
}

html, body {
				background-color: rgba(5, 5, 46, 0.959);
				overflow: hidden;
				/* display: block; */
				
			}

canvas {
				border: 3px solid rgb(26, 29, 190);
				/* position: absolute; */
				left: 20%;
			}
	.container{
				position: absolute;
				top: 20px;
				right: 20px;
				justify-content: space-evenly;
	}
	.container2{
		position: absolute;
		top: 30px;
		left: 20px;
		justify-content: space-evenly;
	}

			.btn,.save,.remove-spring,.uI {
				font-weight: 700;
				color: #7dc21e;
				border-color: white;
				background: white;
				background: white;
				font-size: 10px;
				border-color: #1172c4;
				border-style: solid;
				border-width: 2px;
				border-radius: 22px;
				padding: 10px 10px;
				text-transform: uppercase;
			}

		.btn:hover,.save:hover,.remove-spring:hover,.uI:hover{
			color: white;
			background: #7dc21e;
			border-color: white;
		}

		.restart{
			font-weight: 700;
			color: #c21e91;
			border-color: #7dc21e;
			background: transparent;
			background: white;
			font-size: 10px;
			border-color: #1172c4;
			border-style: solid;
			border-width: 2px;
			border-radius: 22px;
			padding: 10px 10px;
			text-transform: uppercase;
		}

		.restart:hover{
			color: white;
   background: #c21eb4;
   border-color: #fafafa;
		}

		.undo{
		font-weight: 700;
		color: #664e96;
		border-color: #664e96;
		background: transparent;
		background: white;
		font-size: 10px;
		border-color: #1172c4;
		border-style: solid;
		border-width: 2px;
		border-radius: 22px;
		padding: 10px 10px;
		text-transform: uppercase;
		}

		.undo:hover{
  color: white;
  background: #664e96;
  border-color: #ffffff;
		}

.load{
	font-weight: 700;
	color: #4bb9bd;
	border-color: white;
	background: white;
	font-size: 10px;
	border-color: #1172c4;
	border-style: solid;
	border-width: 2px;
	border-radius: 22px;
	padding: 10px 10px;
	text-transform: uppercase;
}
		.load:hover{
			color: white;
			background: #4bb9bd;
			border-color: white;
		}

		.save{
		font-weight: 700;
		color: #da0707;
		border-color: white;
		background: white;
		font-size: 10px;
		border-color: #1172c4;
		border-style: solid;
		border-width: 2px;
		border-radius: 22px;
		padding: 10px 10px;
		text-transform: uppercase;
		}

			.save:hover{
			color: white;
			background: #b93514;
			border-color: white;
		}





		.modeBtn{
		font-weight: 700;
		color: #1030bd;
		border-color: white;
		background: white;
		font-size: 10px;
		border-color: #1172c4;
		border-style: solid;
		border-width: 2px;
		border-radius: 22px;
		padding: 10px 10px;
		text-transform: uppercase;
		}

		.modeBtn:hover{
			color: white;
			background: #1a08bd;
			border-color: white;
		}

		.intro {
			position: absolute;
				top: 1px;
				right: 1px;
				justify-content: space-evenly;
				background-color: black;
				width: 105vw;
				height: 105vh;
				z-index: 1;
		}

		.introBtn{
			margin: 0;
			position: absolute;
			top: 50%;
			left:50%;
			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
			width: 500px;
			height: 100px;
			background-color: black;
			color: white;
			z-index: 0;
			border-radius:20px;
		}
		.introBtn:hover{
			background-color: red;
		}
		.Text{
			font-size: 75px;
			font-family: fantasy;
			color: white;
			text-align: center;
		}
 
.loadLabel{
	color:white;

	font-family:sans-serif;
}		

.loser {
   position: absolute;
    top: 1px;
    right: 1px;
    justify-content: space-evenly;
    background-color: black;
    width: 105vw;
    height: 105vh;
    display:none;
    z-index: 1;
  }
 
  .loserBtn{
   margin: 0;
   position: absolute;
   top: 50%;
   left:50%;
   -ms-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   width: 500px;
   height: 100px;
   background-color: black;
   color: white;
   /* z-index: 0; */
   border-radius:20px;
  }
  .loserBtn:hover{
   background-color: red;
  }
  .write{
   font-size: 75px;
   font-family: fantasy;
   color: white;
   text-align: center;
  }

